<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lyusmile.dao.CarDao" >

	<insert id="add" parameterType="car">
		insert into car (brand,price)
			VALUES
				(#{brand}, #{price});
	</insert>
	
	<delete id="deleteCar" parameterType="Long">
		delete from car where id = #{id}
	</delete>
	
	<update id="updateCar" parameterType="car">
		update car set brand = #{brand},price = #{price} where id = #{id}
	</update>
	
	<select id="findAllCar" resultType="car">
		select * from car
	</select>
	
	<select id="findCarById" resultType="car">
		select * from car where id = #{id}
	</select>

</mapper>